<!DOCTYPE html>
<html>
  <head>
    <title>Instants</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript">
      <% if logged_in? %>
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe %>
      <% end %>
      window.images = {
        logo: "<%= image_path('logo.png') %>",
        app_screenshot_1: "<%= image_path('app-screenshot-1.jpg') %>",
        app_screenshot_2: "<%= image_path('app-screenshot-2.jpg') %>",
        app_phone_outline: "<%= image_path('app-phone-outline.png') %>",
        profile: "<%= image_path('profile.svg') %>",
        upload: "<%= image_path('upload.svg') %>",
        logout: "<%= image_path('logout.svg') %>",
        default_avatar: "<%= image_path('default_avatar.svg') %>",
      }
    </script>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106974664-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106974664-4');
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
